/* Page font */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f5f7fb;
}

/* LEFT SIDE */
.login-left {
    background: linear-gradient(135deg, #6aa8ff, #6f7cff);
    color: white;
}

.brand-title {
    font-size: 3rem;
    font-weight: bold;
}

.tagline {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Illustration */
.illustration {
    width: 60%;
    max-width: 350px;
}

/* LOGIN CARD */
.login-card {
    width: 380px;
    padding: 40px;
    border-radius: 14px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

/* INPUT STYLE */
.form-control {
    border-radius: 8px;
    padding: 10px;
}

/* LOGIN BUTTON */
.btn-login {
    background: linear-gradient(135deg, #6aa8ff, #6f7cff);
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

.btn-login:hover {
    opacity: 0.9;
}/* PASSWORD FIELD WITH SHOW BUTTON */
.password-input-wrapper {
    position: relative;
}

.password-input-wrapper input {
    padding-right: 70px; /* space for button */
}

.show-password-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #6f7cff;
}

.show-password-btn:hover {
    color: #4a5cff;
}
/* Forgot password link */
.forgot-link {
    font-size: 14px;
    color: #6f7cff;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}
