{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<div class="container mt-5">

    <div class="dashboard-card">

        <div class="plot-placeholder">
            <div class="analytics-panel">
                <div class="analytics-controls">
                    <button id="daybutton" class="btn btn-primary" type="button">Day</button>
                    <button id="weekbutton" class="btn btn-primary" type="button">Week</button>
                    <button id="monthbutton" class="btn btn-primary" type="button">Month</button>
                </div>

                <div id="chartsize">
                    <canvas id="analyticsChart"></canvas>
                </div>
            </div>
        </div>

        <div class="dashboard-summary-card">
            <section class="summary-panel focus-panel">
                <h4>Daily Focus</h4>
                <div class="divider"></div>
                <div id="total_focus"></div>
            </section>

            <section class="summary-panel task-panel">
                <div class="task-summary-card">
                    <h4>Today's Tasks</h4>
                    <span class="task-count">
                        {{done_tasks}}/{{total_tasks}}
                    </span>
                </div>
                <div class="divider"></div>

                <ol class="task-summary"></ol>
            </section>
        </div>
    </div>

</div>

<script>
    window.chartData = {{ chart_data | tojson }};
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

