{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="container-fluid login-page d-flex justify-content-center align-items-center min-vh-100">
    <div class="row login-row w-100 shadow-lg overflow-hidden">

        <!-- LEFT PANEL -->
        <div class="col-md-6 login-left d-flex flex-column
                    justify-content-center align-items-center text-center">

            <h1 class="login-brand">StudyFlow</h1>
            <p class="login-tagline">Reset your password securely.</p>

        </div>

        <!-- RIGHT PANEL -->
        <div class="col-md-6 login-right d-flex justify-content-center align-items-center">

            <div class="login-card">

                <h2 class="text-center mb-4">Forgot Password</h2>
                 <!-- SUCCESS MESSAGE -->
                {% if success %}
                <div class="alert alert-success text-center">
                    {{ success }}
                </div>
                {% endif %}

                <!-- ERROR MESSAGE -->
                {% if error %}
                <div class="alert alert-danger text-center">
                    {{ error }}
                </div>
                {% endif %}

                <!-- FORM -->
                <form method="POST">
                    {{ form.hidden_tag() }}

                    <!-- Email -->
                    <div class="mb-3">
                        {{ form.email(class="login-input", placeholder="Enter your email") }}
                    </div>

                    <!-- New Password -->
                    <div class="mb-3">
                        {{ form.new_password(class="login-input", placeholder="Enter new password") }}
                    </div>

                    <!-- Confirm Password -->
                    <div class="mb-3">
                        {{ form.confirm_password(class="login-input", placeholder="Confirm new password") }}
                    </div>

                    <!-- Submit -->
                    <button type="submit" class="login-btn2">
                        Reset Password
                    </button>

                </form>

                <p class="text-center mt-3">
                    <a href="{{ url_for('main.login') }}" class="login-link login-link-action">Back to Login</a>
                </p>

            </div>

        </div>

    </div>
</div>

{% endblock %}
