{% extends "base.html" %}

{% block content %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="container py-4">

    <h2 class="page-title">Dashboard</h2>

    <div class="dashboard-flow">
            
        <!-- Pomodoro Timer Card -->
        <div class="card">
            <div class="card-body">

                <button id="custom-btn" class="mode-btn">Custom</button>

            <div id="custom-modal" class="custom-modal hidden">
                <div class="custom-box">
                    <p>Custom Timer</p>
                    <input type="number" id="custom-input" placeholder="Minutes" min="0">
                    <button id="custom-set">Set</button>
                </div>
            </div>

                <div class="timer-modes">
                    <button class="mode-btn" data-time="1500">Pomodoro</button>
                    <button class="mode-btn" data-time="300">Short Break</button>
                    <button class="mode-btn" data-time="900">Long Break</button>
                </div>

                <p class="timerset" id="simple-timer">
                    15:00
                </p>

                <div class="button-timers">
                    <button id="start-btn" class="btn start-btn">Start</button>
                    <button id="reset-btn" class="btn start-btn">Reset</button>
                </div>

            </div>
        </div>

        <!--Today's Tasks Card -->
        <div class="card">
            <div class="card-body" >

                <h1 class="card-title">
                    <div class="card-link">
                        Today's Tasks
                    </div>
                </h1>

                <input type="text" id="task-input" class="form-control" placeholder="Add a new task...">
                <button id="add-task-btn" class="add-btn">Add Task</button>

                <hr>

                <ul id = "taskList"></ul>
            </div>
        </div>

        <!--No need to show focus time and Leaderborad

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">
                    <a href="focus_time.html" class="card-link">
                        Today's Focus Time→ 
                    </a>
                </h1>

                <p class="show-time">
                    1 h 36 min  dynamic(future)
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body" >
                <h1 class="card-title">
                    <a href="leaderboard.html" class="card-link">
                        Leaderboard→ 
                    </a>
                </h1>

                <p class="content_text">
                    Display the current top three leaders!!!!!!
                </p>

            </div>
        </div>

        -->
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
