{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="container py-4">

    <div class="dashboard-flow">
            
        <div class="card timer-card">

            <!-- TIMER CARD-->
            
            <div class="timer_mode_switch">
                <button id="mode-pomo" class="seg-btn active">Pomo</button>    
                <button id="mode-flow" class="seg-btn">Flowmo</button>
            </div>

            <div class="card-body">




                <!------------ POMODORO TIMER -------------->

                <div id="pomodoro" class="active">
                    {#
                    <div id="custom-modal" class="custom-modal hidden">
                        <div class="custom-box">
                            <p>Custom Timer</p>
                            <input type="number" id="custom-input" placeholder="Minutes" min="0">
                            <button id="custom-set">Set</button>
                        </div>
                    </div>
                    #}

                    <div class="timer-modes">
                        {# <button id="custom-btn" class="gear-btn">⚙</button> #}
                        <div class="modeset">
                            <button class="mode-btn active" id="pomo_length">Pomodoro</button>
                            <button class="mode-btn" id="sbreak_length">Short Break</button>
                            <button class="mode-btn" id="lbreak_length">Long Break</button>
                        </div>
                    </div>

                    <div class="timer-main">
                        <p id="pom-worklength" style="display:none">{{ pom_worklength }}</p>
                        <p id="pom-short-break" style="display:none">{{ pom_short_break }}</p>
                        <p id="pom-long-break" style="display:none">{{ pom_long_break }}</p>

                        <p class="timerset" id="simple-timer">
                            {{ "%02d:00"|format(pom_worklength) }}
                        </p>

                        <div class="button-timers">
                            <button id="start-btn" class="btn start-btn">Start</button>
                            <button id="reset-btn" class="btn start-btn">Reset</button>
                        </div>
                        <p id="pomo-task-prompt">Please select a task</p>
                    </div>
                </div>

                <!--------------END POMODORO TIMER -------------->
                
                
                <!-------------- FLOWDORO TIMER -------------->               
                <div id="flowdoro">
                    <p id="flow-task-name">Task: No task selected</p>
                    <div id="restTime" style="display:none">Rest Time</div>
                
                    <p id="flow-restratio" style="display:none">{{ flow_restratio }}</p>
                    <div id="timer-container" class="timer-main">
                        <p id="timer-display">00:00</p>
                        <div class="button-timers">
                            <button id="flow-start-btn" disabled>Start</button>
                            <button id="flow-end-btn" style="display:none">End</button>
                        </div>
                    </div>
                    <p id="flow-task-value" style="display:none"></p>
                
                </div>
                <!-------------- END FLOWDORO TIMER -------------->
            </div>
        </div>

        <!--Today's Tasks Card -->
        <div class="card">
            <div class="card-body" >

                <h1 class="card-title">
                    <div class="card-link">
                        Today's Tasks
                    </div>
                </h1>

                <div class="task-search">
                    <input type="text" id="task-input" class="form-control" placeholder="Add a new task...">
                    <div id="task-suggestions" class="task-suggestions"></div>
                </div>
                <button id="add-task-btn" class="add-btn">Add Task</button>
                <button id="delete-task-btn" class="add-btn">Delete Task</button>

                <hr>

                <ul id = "taskList"></ul>
            </div>
        </div>

        <!--No need to show focus time and Leaderborad

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">
                    <a href="focus_time.html" class="card-link">
                        Today's Focus Time→ 
                    </a>
                </h1>

                <p class="show-time">
                    1 h 36 min  dynamic(future)
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body" >
                <h1 class="card-title">
                    <a href="leaderboard.html" class="card-link">
                        Leaderboard→ 
                    </a>
                </h1>

                <p class="content_text">
                    Display the current top three leaders!!!!!!
                </p>

            </div>
        </div>

        -->
    </div>
</div>

<!-- for search functionality -->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>


<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
