{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="container-fluid login-page d-flex justify-content-center align-items-center min-vh-100">

    <div class="row login-row w-100 shadow-lg overflow-hidden">

        <!-- LEFT PANEL -->
        <div class="col-md-6 login-left d-flex flex-column justify-content-center align-items-center">

            <h1 class="login-brand">StudyFlow</h1>
            <p class="login-tagline">Start your study today.</p>

        </div>

        <!-- RIGHT PANEL -->
        <div class="col-md-6 login-right d-flex justify-content-center align-items-center ">

            <div class="login-card">

                <h2 class="text-center mb-4">Register</h2>

                {% if error %}
                <div class="alert alert-danger text-center">
                    {{ error }}
                </div>
                {% endif %}

                {% if success %}
                <div class="alert alert-success text-center">
                    Account created successfully!
                </div>
                {% endif %}

                <form method="POST" action="{{ url_for('register') }}">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", placeholder="Enter your email") }}
                    </div>

                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", placeholder="Enter your password") }}
                    </div>

                    <button type="submit" class="login-btn2">
                        Register
                    </button>

                </form>

                <p class="text-center mt-3">
                    Already have an account?
                    <a href="{{ url_for('login') }}" class="login-link login-link-action">
                        Login
                    </a>
                </p>

            </div>

        </div>

    </div>
</div>

{% endblock %}
