{% extends "base.html" %}

{% block content %}
<div>
    <header id="flowtitle"> Flowmodoro </header>
    <p id="focusbox"> Focusing/not</p>

    <p id="flow-restratio" style="display:none">{{ flow_restratio }}</p>
    <div id="timer-container">
        <p id="timer-display">00:00</p>
        <button id="flow-start-btn" disabled>Start</button>
        <button id="flow-end-btn" style="display:none">End</button>
    </div>

    <div id = "restTime" style="display:none"> Rest Time</div>

    <p id="flow-task-name">No task selected</p>
    <p id="flow-task-value" style="display:none"></p>

    <p class="maininfo">Todays total</p>
    <p class="maininfo">Daily avg</p>
</div>

<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}

