{% extends "base.html" %}

{% block content %}
<div>
    <header id="flowtitle"> Flowmodoro </header>
    <p id="focusbox"> Focusing/not</p>

    <p id="flow-restratio" style="display:none">{{ flow_restratio }}</p>
    <div id="timer-container">
        <p id="timer-display">00:00</p>
        <button id="start-btn">Start</button>
        <button id="end-btn" style="display:none">End</button>
    </div>
    <button id="countdown-btn">Start Countdown</button>

    <div id = "restTime" style="display:none"> Rest Time</div>


    <input type="text" id="task-input" placeholder="Enter task name">

    <p class="maininfo">Todays total</p>
    <p class="maininfo">Daily avg</p>
</div>

<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}

<!-- timer logic
PLANNING:
 Start timer -> Store start time in an object -> Date.now -> store on click
 End timer -> Store end time in same object -> Date.now -> store on click
 fuinctiont hat gets current time
 Print Duration
 const duration = new Temporal.Duration(0, 0, 0, 7, 2);
 Years
Months
Weeks
Days
Hours
Minutes
Seconds
Milliseconds
Microseconds
Nanoseconds

temporal.instant -->